HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
src/main/java/life/
src/test/java/life/

/logs/
logs/
src/main/java/lfie/danbro/community/community/config/RedisConfig.java
src/main/resources/static/css/signin.css
src/main/resources/static/images/bootstrap-solid.svg
src/main/resources/static/images/github.png
src/main/resources/static/images/logo.png
src/main/resources/templates/login.html
/src/test/
/src/main/resources/application.properties
