


.main {
    margin: 30px;
}

.heading{
    height: 38px;
    width: 38px;
}

.menu .icon{
    margin-left: 10px;
    color: #999999;
}

.menu .icon:hover{
    color: #2aabd2;
}

.comment{
    margin: 10px;
}

.media-heading{
    padding: 10px;
    font-size: 15px;
    margin-top: -10px;
}

.media-content{
    margin-left: 10px;
    font-size: 12px;
}
