<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lfie.danbro.community.community.mapper.QuestionExtMapper">
  <resultMap id="myQuestion" type="lfie.danbro.community.community.dto.QuestionDto">
      <id column="id" jdbcType="INTEGER" property="id"/>
      <result column="title" jdbcType="VARCHAR" property="title"/>
      <result column="description" jdbcType="VARCHAR" property="description"/>
      <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate"/>
      <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified"/>
      <result column="creator" jdbcType="INTEGER" property="creator"/>
      <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
      <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
      <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
      <result column="tag" jdbcType="VARCHAR" property="tag"/>
      <association property="user" javaType="lfie.danbro.community.community.model.User">
          <id property="id" column="id"/>
          <result property="name" column="name"/>
          <result property="avatarUrl" column="avatar_url"></result>
          <result property="accountId" column="account_id"></result>
      </association>
  </resultMap>
  <update id="increaseViewCount" parameterType="lfie.danbro.community.community.model.Question">
    UPDATE question
    SET view_count = view_count + #{viewCount,jdbcType=BIGINT}
    WHERE id = #{id}
  </update>

  <update id="increaseCommentCount" parameterType="lfie.danbro.community.community.model.Question">
    UPDATE question
    SET comment_count = comment_count + #{commentCount,jdbcType=BIGINT}
    WHERE id = #{id}
  </update>
    <select id="getAllQuestionDtos" resultMap="myQuestion">
      SELECT q.*,u.* FROM question q LEFT JOIN `user` u on
        q.creator = u.id
        <where>
          <if test="search != null">
            and title REGEXP #{search}
          </if>
      </where>
        order by q.gmt_create desc
    </select>
    <select id="getAllQuestionDtosByUserId" resultMap="myQuestion">
      SELECT q.*,u.* FROM question q LEFT JOIN `user` u on
      q.creator = u.id WHERE u.id = #{id} order by q.gmt_create desc
    </select>

    <select id="getRelatedQuestions" parameterType="lfie.danbro.community.community.model.Question" resultMap="myQuestion">
        SELECT * FROM question WHERE tag REGEXP #{tag} and id != #{id} limit 10
    </select>




</mapper>